.sections {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sectionWrapper {
    flex-basis: calc(50% - 0.9375em);
    margin-bottom: 1.875em;
}